original/*.png filter=lfs diff=lfs merge=lfs -text
original/*.jpg filter=lfs diff=lfs merge=lfs -text
original/*.jpeg filter=lfs diff=lfs merge=lfs -text
original/*.gif filter=lfs diff=lfs merge=lfs -text
original/*.webp filter=lfs diff=lfs merge=lfs -text
original/*.svg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
